



    <% @ideas.each do |idea|%>
    <div class="col">
        <div class="col-6 col-md-4"> 
            <h3>
            <%= link_to(idea.title, idea_path(idea.id)) %>    
            </h3>              
        </div>
        <div class="col-6 col-md-4"> 
            <h5>
            <%= idea.body %>
            </h5>
        </div>
        <div class="col-6 col-md-4"> 
            <h5>
            <%= idea.user.name %>
            </h5>
        </div>
    </div>

       <small>
       <% @like = idea.likes.find_by(user: current_user)%>
        <% if idea.likes.find_by(user: current_user).present? %>
        <%= link_to "Liked", like_path(@like),method: :delete  %> 
        <% else %>
        <%= link_to 'like', idea_likes_path(idea), method: :post  %> 
        <% end %> 
    </small>
    </small>

     <small>
            Liked by: <%= idea.likes.count%>
    </small>
    <hr>
    <%end%>
</table>