

<% @ideas.each do |idea|%>
<div class="col-9">
    <div class=" col-md-10"> 
            <h4>
            <%= link_to(idea.title, idea_path(idea.id)) %>    
            </h4>              
    </div>
    <div class="col-md-10"> 
            <h5>
            <%= idea.body %>
            </h5>
    </div>
    <div>
        <span class="col-6 col-md-4"> 
                <h6>
                By <%= idea.user.name %>
                </h6>

        <div class="col-md-12  d-flex justify-content-between flex-row like-text">
            <% @like = idea.likes.find_by(user: current_user)%>
            <% if idea.likes.find_by(user: current_user).present? %>
            <%= link_to "Liked", like_path(@like),method: :delete , class: 'btn btn-outline-primary ' %> 
            <% else %>
            <%= link_to 'Like', idea_likes_path(idea), method: :post , class: 'btn btn-outline-primary ' %> 
            <% end %> 

            <span class="col-md-4  d-flex flex-row">
            Liked Total: <%= idea.likes.count%>
            </span>
        </span>
        </div>  
    </div>      
</div>

<hr>
<%end%>