<div class=' flex-column flex-start mb-4'>
  <div>
      <h2 class="mb-4">
        <%= @idea.title %>
      </h2>
      <p class=' d-flex flex-start'>
        <%= @idea.body %>
      </p>
      <div>
      <small class=' mb-4 d-flex flex-start mr-2'>
        <em>Created by:   <%= @idea.user.name %> </em>
      </div>
        <small>
            Liked by: <%= @idea.likes.count%>
        </small>

      <div>
      <small class='text-muted mb-4 d-flex flex-start mr-2'>
        <em>Created:   <%= time_ago_in_words(@idea.created_at) %> ago</em>
      </small>
       </div>
       <small class='text-muted mb-4 d-flex flex-start mr-2'>
        <em>Updated:   <%= time_ago_in_words(@idea.updated_at) %> ago</em>
      </small>
      <br>
      <br>

     
    <small>
        <% if @like.present? %>
        <%= link_to 'unlike', like_path(@like),method: :delete  %> 
        <% else %>  
        <%= link_to 'like', idea_likes_path(@idea), method: :post  %> 
        <% end %> 
    </small>


      <%= link_to "Edit", edit_idea_path(@idea), class: 'btn btn-outline-primary '%>
      <%= link_to("Delete",
        idea_path(@idea),
        method: :delete,
        class: 'btn btn-outline-primary  mr-4',
        data: { confirm: 'are you sure to delete this idea?' },
      )
      %>  
  </div>
</div>

<div>
<h3 class="d-flex flex-start" >Review</h3>
  <%= form_with model: [@idea, @review], local: true do |f| %>
  <% if @review.errors.full_messages.each do |msg|%>
    <li>
        <%= msg %>
    </li>
<% end %>
<% end %>
    <div class="form-group mb-4">
      <%= f.text_area(:body, class: 'form-control', cols: 150, rows: 4)%>
    </div>
      <%=f.submit  "Submit", class: 'btn btn-outline-primary d-flex flex-start' %> 
    <% end %>
</div>
<br>

<% @reviews.each do |review|%>  
<div  class=' d-flex  '>
    <div class="d-sm-flex align-self-start flex-column ?review-text">
      <%= review.body %>
      <span class=" d-sm-flex align-self-start flex-column ?review-time">
     
     
        <em>Reviewed by:   <%= review.user.name %> </em>
     
        <small class='text-muted mb-4 d-flex flex-start mr-2'>
        <em>Reviewed: <%= time_ago_in_words(review.created_at) %> ago</em>
          ••• 
        <%= link_to "Delete",idea_review_path(@idea,review), method: :delete,data: {confirm: "Are you sure to delete this review?"} %>
        </small>
      </span>
    </div>
</div>
<% end %> 