 <div class="flex-row justify-content-end col-md-12 flex-end">  
    <span>
    <% if user_signed_in? %>
    <!-- To Edit path if user is signed in -->

        <%=  "Hello #{current_user.name}"%>
    
  
        <%= link_to "Log out", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}
        %>
   
    <% else %>
    <!-- To log in and sign up path if user is not signed in -->
    
        <%= link_to "Log in", new_session_path %> 
   
  
        <%= link_to "Sign Up", new_user_path %>
   
    </span> 
    <% end %>
</div> 

<nav class="d-flex justify-content-between mr-4 mt-4 mb-4 nav-post" >
    <div class=" d-sm-flex flex-row  col-md-8 flex-start  ">
    <!-- To Index Page -->
        <%= link_to "Idea Factory", ideas_path %>
    </div>
   
    <div class="flex-row col-md-2 ">
    <!-- To New Page -->
        <%= link_to "New Idea", new_idea_path%>
    </div>
</nav>  


<hr>


